@import "variables";
@import "settings";
@import "mixin";
$color1 : #fff;
$color2 : #000;
$color3 : red;

.content-container{
  margin: 0 auto;

  @include respond-to(tablet) {
    max-width: 900px;
  }
  @include respond-to(pc) {
    max-width: 900px;
  }
}
