@charset "utf-8";

html{
  font-size: 10px;
}
body{
  margin: 0;
  background: #ffc;
}

.list > li{
  list-style: none;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  padding: 3px;
}